.vehicle{
    text-align: center;
    border: 1px solid lightgray;
    border-radius:10px;
    background-color: rgb(255, 249, 249);
    box-shadow: 2px 2px 10px gray;
}
.vehicle img{
    width: 252px;
    height: 180px;
    border-radius:10px;
}